# 4th Feb Assignment

In [ ]:
'''
Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

'''

In [34]:
a=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

sorted(a,key=lambda i:i[1],reverse=True)

[('Sachin Tendulkar', 34357),
 ('Ricky Ponting', 27483),
 ('Jack Kallis', 25534),
 ('Virat Kohli', 24936)]

In [36]:
'''
Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
'''

In [37]:
a=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

sq=list(map(lambda x:x*x,a))
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [38]:
# Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions
# Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [39]:
lst=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tp=tuple(map(lambda x:str(x),lst))
tp

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [40]:
# Q4. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [49]:
n=25
lst=[i for i in range(1,n+1)]

import functools as f
product=f.reduce(lambda x,y:x*y,lst)
product

15511210043330985984000000

In [50]:
# Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
# filter function.
# [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [52]:
a=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

s=filter(lambda x: x%2==0 and x%3==0 ,a)
list(s)

[6, 60, 90, 120]

In [ ]:
# Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.
# ['python', 'php', 'aba', 'radar', 'level']

In [55]:
a=['python', 'php', 'aba', 'radar', 'level']

p=list(filter(lambda x: x==x[::-1],a))
print("All Palindromes from the list are:\n",p)

All Palindromes from the list are:
 ['php', 'aba', 'radar', 'level']